<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name ="viewport" content="width=device-width">
    <title>Cyclic Voltammetry</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
      <div class="row marketing">
        <div>
          <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Ardustat</a>
              </div>
              <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li id='navbar-home'><a href="/">Home</a></li>
                    <li id='navbar-channel1'><a href="/Channel1">Channel 1</a></li>
                    <li id='navbar-channel2'><a href="/Channel2">Channel 2</a></li>
                    <li id='navbar-channel3'><a href="/Channel3">Channel 3</a></li>
                    <li id='navbar-analysis'><a href="/Analysis">Analysis</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <script type="text/javascript" >
            document.getElementById('navbar-channel1').setAttribute('class', 'active')
          </script>
        </div>
      </div>
      <div id="tabs">
        <ul class = "nav nav-tabs">
            <li class="active"><a href="#tabs-1">Setup</a></li>
            <li><a href="#tabs-2">Plotting</a></li>
        </ul>
        <section id="tabs-1" class="active">
        <div id="all_setup" class="input-group">
            <div class="row marketing">
                <div class="col-lg-12">
                    <h3>Cyclic Voltammetry Setup</h3>
                </div>
            </div>
            <form id='cv_setup_input' action="/sendata" method="post" class='form-horizontal'>
              <input type='hidden' name='electro_function' value='cyclic_voltammetry'><br>
              <div class='form-group'>
                <label for="ardustat_id" class='col-sm-3 control-label'>Ardustat Id</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type='number' name='ardustat_id' value='25' class="form-control" required>
                  </div>
                </div>
                <label for="folder_name" class='col-sm-3 control-label'>Folder Name</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type='text' required="true" name='folder_name' value='cv' class="form-control" required>
                  </div>
                </div>
              </div>

              <div class='form-group'>
                <label for="file_name" class='col-sm-3 control-label'>Experiment Name</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type='text' name='file_name' value='t1' class="form-control">
                  </div>
                </div>
                <label for="rest_time" class='col-sm-3 control-label'>Rest Time</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type='text' name='rest_time' value='10' class="form-control">
                    <span class="input-group-addon">s</span>
                  </div>
                </div>
              </div>

              <div class='form-group'>
                <label for="number_of_cycles" class='col-sm-3 control-label'>Number of Cycles</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type='text' name='number_of_cycles' value='1' class="form-control">
                  </div>
                </div>
                <label for="min_potential" class='col-sm-3 control-label'>Minimum Potential</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type='text' name='min_potential' value='-.1' class="form-control">
                    <span class="input-group-addon">V</span>
                  </div>
                </div>
              </div>

              <div class='form-group'>
                <label for="max_potential" class='col-sm-3 control-label'>Maximum Potential</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type='text' name='max_potential' value='.1' class="form-control">
                    <span class="input-group-addon">V</span>
                  </div>
                </div>
                <label for="rate" class='col-sm-3 control-label'>Scan Rate</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type='text' name='rate' value='1' class="form-control">
                    <span class="input-group-addon">mV/s</span>
                  </div>
                </div>
              </div>

              <div class='form-group'>
                <label for="DAC2_value" class='col-sm-3 control-label'>Voltage Range</label>
                <div class="col-sm-3">
                  <select name='DAC2_value' value='2.5' class="form-control">
                    <option value='2.5'> -2.5V to 2.5V </option>
                    <option value='0'> 0V to 5V </option>
                    <option value='5'> -5V to 0V</option>
                  </select>
                </div>
                <label for="relative_to_ocv" class='col-sm-3 control-label'>Potentials Set Relative to OCV?</label>
                <div class="col-sm-3">
                  <select name='relative_to_ocv' value='true' class="form-control">
                    <option value='true'> True </option>
                    <option value='false'> False </option>
                  </select>
                </div>
              </div>

              <div class='form-group'>
                <label for="start_at_ocv" class='col-sm-3 control-label'>Start test at OCV?</label>
                <div class="col-sm-3">
                  <select name='start_at_ocv' value='true' class="form-control">
                    <option value='true'> True </option>
                    <option value='false'> False </option>
                  </select>
                </div>
                <label for="other_start_volt" class='col-sm-3'>If other, please specify</label>
                  <div class="col-sm-3">
                    <div class="input-group">
                      <input type="text" name="other_start_volt" class="form-control">
                    </div>
                  </div>
              </div>

              <div class='form-group'>
                <label for="read_timing" class='col-sm-3 control-label'>Read Timing</label>
                <div class="col-sm-3">
                  <div class="input-group">
                    <input type='text' name='read_timing' value='100' class='form-control'>
                    <span class="input-group-addon">ms</span>
                  </div>
                </div>
                <label for="cv_dir" class='col-sm-3 control-label'>Start Direction</label>
                <div class="col-sm-3">
                  <select name='cv_dir' value='true' class="form-control">
                    <option value='charging'> Charge </option>
                    <option value='discharging'> Discharge </option>
                  </select>
                </div>
              </div>

              <div class='form-group'>
                <label for="notes" class='col-sm-3 control-label'>Notes</label>
                <div class="col-sm-9">
                  <input type='text' name='notes' value='' class='form-control'>
                </div>
              </div>
            </form> 

          <br>
          <br>
      <div id="not_underway_display" style="display:inline-block">
        <textarea id="tbTableValuesArray" name="tblValuesArray" rows="10" class='textarea' style="display:none" ></textarea>
        <p id="cyc_confirm" style="display:none"> Waiting for Properties to be Confirmed </p>
        <button id="validate_form_button" class="btn btn-primary"> Send Values </button>
        <button id="start_experiment" class="btn btn-primary" style="display:none">Start The Experiment</button>
      </div>
      
      <div id="underway_display" style="display:none">
      </div>
      </div>

      <div id="was_running">
      </div>
        <div id="in_test_buttons" >
          <button type = "button" onclick="goPlotting()" class="btn btn-success" id="goPlotting_button" style="display:none">View Live Plot</button>
          <button type = "pause_button" onclick="goPause()" class="btn btn-warning" id="pause_button" style="display:none">Pause Test</button>
          <button type = "kill_button" onclick="goKill()"  class="btn btn-danger" id="kill_button" style="display:none">Stop Test</button>
          <button type = "resume_button" onclick="goResume()" class="btn btn-primary" id="resume_button" style="display:none">Resume Test</button>
        </div>
        
   
       
        
        
          

  </section>
  
  <section id="tabs-2" class="hide">
    
    <div class="row marketing">
    
      <h1>Live Plotting</h1>
      
      <div id="underway_display_plot" style="display:inline-block"> 
        <p>Click links to display different live plots</p>
      

        <table><tr>
            <td><button type="button" class="btn btn-default" id="chooseP1" onclick="chooseP(1,ploop)">Current vs. Voltage</button></td>
            <td><button type="button" class="btn btn-default" id="chooseP2" onclick="chooseP(2,ploop)">Current vs. Time</button></td>
            <td><button type="button" class="btn btn-default" id="chooseP3" onclick="chooseP(3,ploop)">Voltage vs. Time</button></td> </tr>
        </table><br>

        
        <img id="fooplotter" src="http://www.herbergertheater.org/wp-content/uploads/2014/12/Image-Coming-Soon-Placeholder.png" width="534" height="432">
        
        <p><tt id="results"></tt></p>
        
        <button type = "pause_button_plot" onclick="goPause()" class="btn btn-warning" id="pause_button_plot" style="display:inline-block">Pause Test</button>
        <button type = "kill_button_plot" onclick="goKill()" class="btn btn-danger" id="kill_button_plot" style="display:inline-block">Stop Test</button>
        <button type = "resume_button_plot" onclick="goResume()" class="btn btn-primary" id="resume_button_plot" style="display:none">Resume Test</button>

      </div>
      
      <div id="not_underway_display_plot" style="display:none">
        There is no experiment running right now
      </div>
      
      <!--
      <div id="returnButton" style="display:none">
        <a href="/Channel1"> Return </a>
      </div>
      -->
      <button id="returnButton" style="display:none" class="btn btn-primary"> Return </button>

  </section>
  </div>
</div>
  <script> channel = 'ch1' </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
	<script src="/javascripts/flot/jquery.flot.js"></script>
	<script src="/javascripts/flot/jquery.flot.time.js"></script>
	<script src="/javascripts/jquery-json/src/jquery.json.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/scripts/Channel1/socket_1.js"></script>
  <script>

//starting the stuff ----------------------------------------------------
  test_was_in_progress = false;
  var ardustat_id
  first_plot = false
  last_plot = false

//onload get status
  $( document ).ready(function() {
    $.ajax({
    type:'GET',
    url:'/getstatus',
    async: true,
    data: {channel:channel},     
    })
    .done(function( data ) {
      //establish whether cv or cycle
      //then send to correct page
      console.log('data below')
      console.log(data)
      data = JSON.parse(data)
      console.log(data)
      if (data[0] == undefined){
        if (data.electro_function == 'cyclic_voltammetry') {
          console.log('this is a cv on channel ' + channel)
          test_running(data)
        }
        else if (data.electro_function == 'calibration'){
          console.log('there is a calibration running on channel ' + channel)
          alert('something is calibrating on this channel - use a different one or wait a couple minutes')
        }
      }
      else if (data[0].electro_function == 'cycle' ) {
        console.log('this is a cycle on channel ' + channel)
        alert('there is a cycle running on this channel - go there')
      }
      else { 
        console.log('there is no test running - as you were')
      }
      //on that page - send another request 
      //if that is running - display the setup, allow to go to plotting stuff
    })
    .fail(function( jqXHR, textStatus, errorThrown ) {
      console.log('something went wrong');
      console.log(jqXHR);
      console.log(textStatus);
      console.log(errorThrown);
    })
  });



  
function test_running(data){
  test_was_in_progress = true
  console.log('test_running called')
  //foo = JSON.stringify(data) 
  foo = data
  console.log(foo)
  ardu_folder = foo.folder_name
  ardu_file = foo.file_name
  ardustat_id = foo.ardustat_id
  console.log(ardu_folder)
  console.log(ardu_file)
  console.log(ardustat_id)
  goPlotting()
  showSetup(data)
}

function showSetup(data){
  console.log('showSetup called')
  console.log(data)
  document.getElementById('all_setup').style.display = 'none'
  document.getElementById('was_running').innerHTML = "<p> "+JSON.stringify(data)+"</p>"
}
  
  $('#validate_form_button').click(function() {
    console.log('validateForm called');
    validateForm()
  });

  $('#start_experiment').click(function() {
    goStartTest()
  });
  
  $("#returnButton").click(function(){
    console.log("returnButton clicked");
    if (channel == 'ch1') location.href='/Channel1'
    else if (channel == 'ch2') location.href = '/Channel2'
    else if (channel == 'ch3') location.href = '/Channel3'
    else alert('channel not set correctly - tell Dan please')
  });

  $('#kill_button').click(function() {
    console.log("kill button pushed");
    if (channel == 'ch1') location.href='/Channel1'
    else if (channel == 'ch2') location.href = '/Channel2'
    else if (channel == 'ch3') location.href = '/Channel3'
  });
  
  function validateForm()
  {
  
    validated = true;
    var form = $('#cv_setup_input');
    DataToSend = form.serializeObject();
    document.getElementById("validate_form_button").style.display = "none";
    document.getElementById("start_experiment").style.display = "inline-block";
  }

  function goStartTest()
  {
    sendValues();
    disableInputs();
    showButtons();
    testUnderway();
    first_plot = true;
  }

  $.fn.serializeObject = function()
  {
      var o = {};
      var a = this.serializeArray();
      $.each(a, function() {
          if (o[this.name] !== undefined) {
              if (!o[this.name].push) {
                  o[this.name] = [o[this.name]];
              }
              o[this.name].push(this.value || '');
          } else {
              o[this.name] = this.value || '';
          }
      });
      o['type_of_experiment'] = 'cyclic voltammetry';
      o['channel'] = channel
      return o;
  };


var DataToSend;
//Sends values to start things make plotting, kill, and pause button visible
  function sendValues() 
  {
    console.log(DataToSend);
    $.ajax({
      type:'POST',
      url:'/senddata',
      async: true,
      data: DataToSend,
      })
      .done(function( data ) {
        console.log('something worked');
      })
      .fail(function( jqXHR, textStatus, errorThrown ) {
      console.log('something went wrong');
      console.log(jqXHR);
      console.log(textStatus);
      console.log(errorThrown);
    });
    return false;
  }
  
  $('#returnButton').click(function() {
    console.log('returnButton clicked')
    goBackToStart();
  });

  function goBackToStart()
  {
  console.log('goBackToStart called');
  showButtons()
  $("#resume_button").style.display="none";
  enableInputs()
  }

  function testUnderway()
  {
    console.log('testUnderway called');
    document.getElementById('not_underway_display').style.display = 'none';
    document.getElementById('underway_display').style.display = 'inline-block';
    document.getElementById('not_underway_display_plot').style.display = 'none';
    document.getElementById('underway_display_plot').style.display = 'inline-block';
  }
  
  function testOver()
  {
    console.log('testOver called');
    document.getElementById('not_underway_display').style.display = 'inline-block';
    document.getElementById('underway_display').style.display = 'none';
    document.getElementById('not_underway_display_plot').style.display = 'inline-block';
    document.getElementById('underway_display_plot').style.display = 'none';
    last_plot = true;
    ploop()
  }
  
  function enableInputs()
  {
    console.log('enable inputs called');
    var inputs = document.getElementsByTagName("INPUT");
    var inputs = inputs + document.getElementsByTagName("select");
    for (var i = 0; i < inputs.length; i++) 
    {
      inputs[i].disabled = false;
      //console.log(inputs[i]);
    }
  }
  
  function disableInputs()
  {
    console.log('diable inputs called');
    var inputs = document.getElementsByTagName("INPUT");
    var inputs = inputs + document.getElementsByTagName("select");
    for (var i = 0; i < inputs.length; i++) 
    {
      inputs[i].disabled = true;
      //console.log(inputs[i]);
    }
  }
// additional user control 
  function showButtons()
  {
    document.getElementById("goPlotting_button").style.display="inline-block"; 
    document.getElementById("kill_button").style.display="inline-block";
    document.getElementById("pause_button").style.display="inline-block";
  }
  
  function hideButtons()
  {
    document.getElementById("goPlotting_button").style.display="none"; 
    document.getElementById("kill_button").style.display="none";
    document.getElementById("pause_button").style.display="none";
    document.getElementById("resume_button").style.display="none";
  }
  function showReturnButton()
  {
    document.getElementById("returnButton").style.display="inline-block";
  }
  
  
  
  //pause the test, show resume button
  function goPause() 
  {
    document.getElementById("goPlotting_button").style.display="none"; 
    document.getElementById("resume_button").style.display="inline-block";
    document.getElementById("kill_button").style.display="inline-block";
    document.getElementById("pause_button").style.display="none";
    
    
    document.getElementById("kill_button_plot").style.display="inline-block";
    document.getElementById("pause_button_plot").style.display="none";
    document.getElementById("resume_button_plot").style.display="inline-block";
    console.log('goPause called')
    $.ajax({
      type:'GET',
      url:'/pauser/' + channel, 
      dataType: 'json',
      async: true
      })
      .done(function( data ) {
          console.log('something worked');
      })
      .fail(function( jqXHR, textStatus, errorThrown ) {
        console.log('something went wrong');
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      });
  }
  
  //resume the test
  function goResume()
  {
    document.getElementById("pause_button").style.display="inline-block";
    document.getElementById("resume_button").style.display="none";
    document.getElementById("goPlotting_button").style.display="inline-block";
    
    document.getElementById("pause_button_plot").style.display="inline-block";
    document.getElementById("resume_button_plot").style.display="none";
    console.log('goResume called')
    $.ajax({
      type:'GET',
      url:'/reviver/' + channel,
      dataType: 'json',
      async: true
      })
      .done(function( data ) {
          console.log('something worked');
      })
      .fail(function( jqXHR, textStatus, errorThrown ) {
        console.log('something went wrong');
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      });
  }
  
  //kill the test, take back to setup (page with CV, Cycle etc.)
  function goKill()
  {
  enableInputs()
  hideButtons()
  showReturnButton()
  //testOver() 
    console.log('goKill called')
    $.ajax({
      type:'GET',
      url:'/killing/' + channel,
      dataType: 'json',
      async: true
      })
      .done(function( data ) {
          console.log('goKill worked');
      })
      .fail(function( jqXHR, textStatus, errorThrown ) {
        console.log('something went wrong');
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      });
    return false;
  }
//------------------------------------------------------------------------------------
  
//debugging
	$("#cv_submit_button").click(function(){
	  console.log('something got clicked');
	  var jim = document.forms['cv_setup_input'].elements
	  var array = document.forms['cv_setup_input'].elements.value
	  console.log(array);
				
	});  

//----------------------------------------------
//plotting stuff
  function goPlotting(){
    event.preventDefault();
    console.log("goPlotting got called");
    
    var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');
    
    var actived_nav = $('.nav-tabs > li.active');
    actived_nav.removeClass('active');
    
    //manually switch to plotting tab
    //addClass('active');
    $("a[href$='tabs-2']").parents('li').addClass('active');
    
    //hide current tab
    $(active_tab_selector).removeClass('active');
    $(active_tab_selector).addClass('hide');
    console.log("active_tab");
    console.log($(active_tab_selector));
    
    //display plotting tab
    var target_tab_selector = $('#tabs-2');
    console.log("target tab selector");
    console.log($(target_tab_selector));
    $(target_tab_selector).removeClass('hide');
    $(target_tab_selector).addClass('active');
    ploop();
  }
  
  function changePlot(xaxis,yaxis,callback)
  {
    callback();
  }
  
  function chooseP(ptype,callback) 
  { plot = ptype; 
    selected = true;
    if(plot == 1) { CV_Xaxis = 'v'; CV_Yaxis = 'c' }
    if(plot == 2) { CV_Xaxis = 't'; CV_Yaxis = 'c'  }
    if(plot == 3) { CV_Xaxis = 't'; CV_Yaxis = 'v'  }
    callback()
  }
  
  // global varibles for plotting
  var CV_Xaxis = ''
  var CV_Yaxis = ''
  var ardu_folder;
  var ardu_file;
  function ploop()
  {
      
      if (CV_Xaxis == '') { CV_Xaxis = 'v'}
      if (CV_Yaxis == '') { CV_Yaxis = 'c'}
      var mintemp = 0;
      var maxtemp = -1;

      if (test_was_in_progress == false){
        ardu_folder = DataToSend['folder_name'];
        ardu_file = DataToSend['file_name'];
        ardustat_id = DataToSend.ardustat_id
      }
      if(mintemp != "") { cycle_min = mintemp; }
      else { cycle_min = 0 }
      if(maxtemp != "") { cycle_max = maxtemp; }
      else { cycle_max = -1 }

      countto = 1
      //is it the first or last plot?  
      console.log(first_plot)
      if (first_plot) {
        what_plot = 'start'
        console.log('first plot called')
      }
      else if (last_plot){
        what_plot = 'end'
        console.log('last plot called')
      } 
      else what_plot = ''


      this_host = document.URL.toString().split('/')[2]
      colon_index = this_host.indexOf(':')
      this_host = this_host.substring(0,colon_index)
      console.log(this_host)
      url = "http://"+this_host+":4004/filetest_showme_basic_averaging_"+channel+"/" 
      + ardu_folder+"/"
      + ardu_file+"/"
      + cycle_min+"/"
      + cycle_max+"/"
      + CV_Xaxis+"/"
      + CV_Yaxis+"/"
      + ardustat_id+"/"
      + countto + "/"
      + what_plot + "/"
      console.log(url)

      //add functionality so that can look at different plots
      var foo = "test";
      $.ajax({
      url: url
      })
      .done(function( data ) {
          console.log('.');
          image = data
          imageUrl = "http://"+this_host+":4001/"+image
          //document.write(imageUrl);
          console.log(imageUrl);
          changeImage("fooplotter",imageUrl)
          first_plot = false;
          if (!last_plot) ploop()
      })
      .fail(function( jqXHR, textStatus, errorThrown ) {
        console.log('something went wrong');
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown);
      });
}

  
  function changeImage(id,source)
  {
  document.getElementById(id).src=source;
  }
  
//----------------------------------------------------------------  
//tab stuff
$(document).ready(function() {
    $('.nav-tabs > li > a').click(function(event){
    event.preventDefault();//stop browser to take action for clicked anchor'
    console.log("you got clicked");

    //get displaying tab content jQuery selector
    var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');					

    //find actived navigation and remove 'active' css
    var actived_nav = $('.nav-tabs > li.active');
    actived_nav.removeClass('active');

    //add 'active' css into clicked navigation
    $(this).parents('li').addClass('active');
    console.log("parents");
    console.log($(this).parents('li'));

    //hide displaying tab content
    $(active_tab_selector).removeClass('active');
    $(active_tab_selector).addClass('hide');
    //console.log("active tab selector");
    //console.log($(active_tab_selector));

    //show target tab content
    var target_tab_selector = $(this).attr('href');
    //var target_tab_selector = $('.nav-tabs > #tabs-2').attr('href');
    //console.log("target tab selector");
    //console.log($(target_tab_selector));
    $(target_tab_selector).removeClass('hide');
    $(target_tab_selector).addClass('active');
     });
});       

  </script>
</body>
