<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name ="viewport" content="width=device-width">
    <title>Cycler</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
      <div class="row marketing">
        <div>
          <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Ardustat</a>
              </div>
              <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li id='navbar-home'><a href="/">Home</a></li>
                    <li id='navbar-channel1'><a href="/Channel1">Channel 1</a></li>
                    <li id='navbar-channel2'><a href="/Channel2">Channel 2</a></li>
                    <li id='navbar-channel3'><a href="/Channel3">Channel 3</a></li>
                    <li id='navbar-analysis'><a href="/Analysis">Analysis</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <script type="text/javascript" >
            document.getElementById('navbar-channel1').setAttribute('class', 'active')
          </script>
        </div>

          <div class="col-lg-12" style="display:none">
            <h1 class="header"> Hey Andrew </h1>
          </div>
      </div>
   
    <div id="tabs">
      <ul class = "nav nav-tabs">
          <li class="active"><a href="#tabs-1">Setup</a></li>
          <!-- see if this is the same --> 
          <li><a href="#tabs-2">Plotting</a></li>
      </ul>
      
      <section id="tabs-1" class="active">
      <div>

          <div class="row marketing">
              <div class="col-lg-12">
                  <h1>Cycler Setup</h1>
              </div>
          </div>

      <div id="all_setup">
        <div id="basic_setup">
          <table id="basic_setup_table" class="table">
            <input type='hidden' name='electro_function' value='cyclic_voltammetry'>
            <tr style='display:none'> <td> <h5> Http Port: </h5> </td><td><input type='text' id='http_port' value='8001' class="form-control"></td></tr> 
            <tr style='display:none'> <td> <h5>Serial Port:</h5> </td><td><input type='text' id='serial_port' value='/dev/ttyACM0' class="form-control"></td></tr> 
            <tr > <td><h5>Ardustat Id: </h5></td><td><input type='text' id='ardustat_id' value='25' class="form-control"></td> Sorry for having to put this in again - I will make better I promise</tr>
            <tr> <td><h5>Folder Name: </h5></td><td><input type='text' id='folder_name' value='cyc' class="form-control"></td>  <td> (No spaces please - will fix soon) </td></tr>
            <tr> <td><h5>Experiment Name: </h5></td><td><input type='text' id='file_name' value='t1' class="form-control"></td><td> (No spaces please - will fix soon)</td></tr>
            <tr> <td><h5>Number of Cycles </h5></td><td><input type='text' id='number_of_cycles' value='2' class="form-control"></td></tr>
            <tr> <td><h5>Read Timing: </h5></td><td><input type='text' id='read_timing' value='100' class="form-control"></td>  <td>(ms) Use 100 for short tests and 1000 for longer tests.  </td></tr>
            <tr> <td><h5>Notes </h5></td><td><input type='text' id='notes' value='' class="form-control"></td></tr>
          </table>
        </div> 
      <input type="button" value="Add Step" onclick="addRow('new_cycler_table')" class="btn btn-default">
      <input type="button" value="Delete Step" onclick="deleteRow('new_cycler_table')" class="btn btn-default">
      <table id="new_cycler_table" class="table">
          <tbody>
            <tr>
              <th>Delete</th> <th>Mode</th> <th> Value </th> <th>Time Cutoff (s)</th> <th>Voltage Cutoff (V) </th> <th>Current Cutoff (mA) </th>
            </tr>
            <tr>
              <td><input type="checkbox" name="chk"></td> <td><select name='cyc_mode1'> <option value='galvanostatic'>Galvanostatic</option> <option value='Potentiostatic'>Potentiostatic</option> <option name='rest'>Rest</option></td> <td><input type='text' name='value' value='1' >Either V or mA</td> <td><input type='text' name='time_cutoff1' value='1111'></td> <td><input type='text' name='voltage_cutoff1' value='11'></td> <td><input type='text' name='current_cutoff1' value=''></td>
            </tr>
      </tbody></table>


        
        <div id="not_underway_display" style="display:inline-block">
          <textarea id="tbTableValuesArray" name="tblValuesArray" rows="10" class='textarea' style="display:none" ></textarea>
          <p id="cyc_confirm" style="display:none"> Waiting for Properties to be Confirmed </p>
          <button onclick="validateForm()" class="btn btn-default" id="validate_form_button">Send Parameters</button>
          <button onclick="goStartTest()" class="btn btn-primary" style="display:none" id="start_test_button">Start The Experiment</button>
          <button onclick="goStartTest()" class="btn btn-primary" style="display:none" id="continue_anyway_button">Start Experiment Anyway</button>

        </div>
        
        <div id="underway_display" style="display:none">
        </div>
        
      </div>

      <div id="was_running">
      </div>

      <div id="in_test_buttons" >
        <button type = "button" onclick="goPlotting()" class="btn btn-success" id="goPlotting_button" style="display:none">View Live Plot</button>
        <button type = "pause_button" onclick="goPause()" class="btn btn-warning" id="pause_button" style="display:none">Pause Test</button>
        <button type = "kill_button" onclick="goKill()"  class="btn btn-danger" id="kill_button" style="display:none">Stop Test</button>
        <button type = "resume_button" onclick="goResume()" class="btn btn-primary" id="resume_button" style="display:none">Resume Test</button>
        <button type = "step_skip_button" onclick="goStepSkip()" class="btn btn-default" id="step_skip_button" style="display:none" >Skip Step</button>
      </div>
      
      
    
  </section>
<!-- this section could just be inserted here and there - I think that is the benefit of Jade. Oh well -->
  
  <section id="tabs-2" class="hide">
    
    <div class="row marketing">
    
      <h1>Live Plotting</h1>
      
      <div id="underway_display_plot" style="display:inline-block"> 
        <p>Click links to display different live plots</p>
      

        <table><tr>
            <td><button type="button" class="btn btn-default" id="chooseP1" onclick="chooseP(1,cycle_get_image)">Current vs. Voltage</button></td>
            <td><button type="button" class="btn btn-default" id="chooseP2" onclick="chooseP(2,cycle_get_image)">Current vs. Time</button></td>
            <td><button type="button" class="btn btn-default" id="chooseP3" onclick="chooseP(3,cycle_get_image)">Voltage vs. Time</button></td> </tr>
        </table><br>

        
        <img id="fooplotter" src="http://coolstuffiknow.files.wordpress.com/2012/04/cool_003.jpg" width and height stuff>
        
        <p><tt id="results"></tt></p>
        
        <button type = "pause_button_plot" onclick="goPause()" class="btn btn-warning" id="pause_button_plot" style="display:inline-block">Pause Test</button>
        <button type = "kill_button_plot" onclick="goKill()" class="btn btn-danger" id="kill_button_plot" style="display:inline-block">Stop Test</button>
        <button type = "step_skip_button" onclick="goStepSkip()" class="btn btn-default" id="step_skip_button" style="display:inline-block">Skip Step</button>
        <button type = "resume_button_plot" onclick="goResume()" class="btn btn-primary" id="resume_button_plot" style="display:none">Resume Test</button>

      </div>
      
      <div id="not_underway_display_plot" style="display:none">
        There is no experiment running right now
      </div>
      
      <button id="returnButton" style="display:none" class="btn btn-primary"> Return </button>

  </section>
  
      </div>
  </div>
  <script> channel = 'ch1' </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
  <script src="/javascripts/flot/jquery.flot.js"></script>
  <script src="/javascripts/flot/jquery.flot.time.js"></script>
  <script src="/javascripts/jquery-json/src/jquery.json.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/scripts/Channel1/socket_1.js"></script>
  <script language="javascript">
  console.log('this is Channel '+channel+'/Cycler')
  test_was_in_progress = false
  first_plot = false
  last_plot = false
  $( document ).ready(function() {
    $.ajax({
    type:'GET',
    url:'/getstatus',
    async: true,
    data: {channel:channel},     
    })
    .done(function( data ) {
      //can make multi-step process

      //establish whether cv or cycle
      //then send to correct page
      console.log('data below')
      console.log(data)
      data = JSON.parse(data)
      console.log(data)
      if (data[0] == undefined){
        if (data.electro_function == 'cyclic_voltammetry') {
          console.log('this is a cv on channel ' + channel)
          alert('go to the cv page')
        }
        else if (data.electro_function == 'calibration'){
          console.log('there is a calibration running on channel ' + channel)
          alert('something is calibrating on this channel - use a different one or wait a couple minutes')
        }
      }
      else if (data[0].electro_function == 'cycle' ) {
        console.log('this is a cycle on channel ' + channel)
        test_running(data)
      }
      else { 
        console.log('there is no test running - as you were')
      }
      //if that is running - display the setup, allow to go to plotting stuff
    })
    .fail(function( jqXHR, textStatus, errorThrown ) {
      console.log('something went wrong');
      console.log(jqXHR);
      console.log(textStatus);
      console.log(errorThrown);
    })
  });

function test_running(data){
  test_was_in_progress = true
  console.log('test_running called')
  console.log(data)
  console.log(data.length)
  console.log(JSON.stringify(data))
  for (var i = 0; i < data.length; i++){
    console.log(data[i])
  }
  ardu_folder = data[1].cyc_folder
  ardu_file = data[1].cyc_file_name
  cyc_ardustat_id = data[1].cyc_ardustat_id
  console.log('debuggin');
  console.log(data[1])
  console.log(cyc_ardustat_id)
  goPlotting()
  showSetup(data)
}

function showSetup(data){
  console.log('showSetup called')
  console.log(data)
  document.getElementById('all_setup').style.display = 'none'
  document.getElementById('was_running').innerHTML = "<p> "+JSON.stringify(data)+"</p>"

}

//dynamic table
function addRow(tableID){
    var table=document.getElementById(tableID);
    var rowCount=table.rows.length;
    console.log('rowCount '+ rowCount)
    var row=table.insertRow(rowCount);
    var colCount=table.rows[1].cells.length;
    console.log('colCount ' + colCount)
    console.log(table.rows[rowCount-1].innerHTML)
    row.innerHTML = '<td><input type="checkbox" name="chk"></td> <td><select name="cyc_mode'+rowCount+'"> <option value="galvanostatic">Galvanostatic</option> <option value="Potentiostatic">Potentiostatic</option> <option name="rest">Rest</option></select></td> <td><input type="text" name="value" value="">Either V or mA</td> <td><input type="text" name="time_cutoff'+rowCount+'" value=""></td> <td><input type="text" name="voltage_cutoff'+rowCount+'" value=""></td> <td><input type="text" name="current_cutoff'+rowCount+'" value=""></td>'

  }
function deleteRow(tableID){try{var table=document.getElementById(tableID);
var rowCount=table.rows.length;
for(var i=1;i<rowCount;i++)
{var row=table.rows[i];
    var chkbox=row.cells[0].childNodes[0];
    if(null!=chkbox&&true==chkbox.checked){if(rowCount<=1)
    {alert("Cannot delete all the rows.");
    break;
}
table.deleteRow(i);rowCount--;i--;}}}
catch(e){alert(e);}}

</script>
  <script>
  $('#returnButton').click(function() {
    console.log('returnButton clicked')
    goBackToStart();
  });

  function goBackToStart()
  {
  console.log('goBackToStart called');
  showButtons()
  document.getElementById('resume_button').style.display="none";
  enableInputs()
  }
  
  
  var TableData;
  var cyc_ardustat_id;
    //this is called to send cycle info
    function storeTblValues()
    {
       TableData = new Array();

        $('#new_cycler_table tr').each(function(row, tr){
            TableData[row]={
                "cyc_mode" : $(tr).find('td').eq(1).find('select').val()
                , "cyc_value": $(tr).find('td').eq(2).find('input').val()
                , "time_cutoff" :$(tr).find('td:eq(3)').find('input').val()
                , "voltage_cutoff" : $(tr).find('td:eq(4)').find('input').val()
                , "current_cutoff" : $(tr).find('td:eq(5)').find('input').val()
            }
        });
        TableData.shift();  // first row will be empty - so remove
        var cyc_folder = document.getElementById("folder_name").value;
        var cyc_file = document.getElementById("file_name").value;
        cyc_ardustat_id = document.getElementById("ardustat_id").value;
        var cyc_cycles = document.getElementById("number_of_cycles").value;
        var cyc_http_port = document.getElementById("http_port").value;
        var cyc_serial_port = document.getElementById("serial_port").value;
        var read_timing = document.getElementById("read_timing").value;
        var notes = document.getElementById("notes").value;
        TableData.unshift({'cyc_folder':cyc_folder, 'cyc_file_name':cyc_file, 'cyc_ardustat_id':cyc_ardustat_id, 'cyc_cycles':cyc_cycles, 'cyc_http_port':cyc_http_port, 'cyc_serial_port':cyc_serial_port, 'read_timing':read_timing, 'notes':notes})
        //console.log(TableData);
        TableData.unshift({'electro_function':'cycle'});
        return TableData;
    }
    
    
    function testUnderway()
    {
      console.log('testUnderway called');
      document.getElementById('not_underway_display').style.display = 'none';
      document.getElementById('underway_display').style.display = 'inline-block';
      document.getElementById('not_underway_display_plot').style.display = 'none';
      document.getElementById('underway_display_plot').style.display = 'inline-block';
    }
    
    function testOver()
    {
      console.log('testOver called');
      last_plot = true;
      console.log(last_plot)
      document.getElementById('not_underway_display').style.display = 'inline-block';
      document.getElementById('underway_display').style.display = 'none';
      document.getElementById('not_underway_display_plot').style.display = 'inline-block';
      document.getElementById('underway_display_plot').style.display = 'none';
      document.getElementById('was_running').style.display = 'none';
      cycle_get_image()
    }
    
    function enableInputs()
    {
      console.log('enable inputs called');
      var inputs = document.getElementsByTagName("INPUT");
      for (var i = 0; i < inputs.length; i++) 
      {
        inputs[i].disabled = false;
        //console.log(inputs[i]);
      }
    }
    //fires functions associated with starting test
    function validateForm()
    {
        var validated = false;
        var toV = {}; // variable containing all the things that need to be validated
        toV.cyc_folder = $("#folder_name").val();
        toV.cyc_file = $("#file_name").val();
        toV.cyc_ardustat_id = $("#ardustat_id").val();
        toV.cyc_cycles = $("#number_of_cycles").val();
        toV.cyc_http_port = $("#http_port").val();
        toV.cyc_serial_port = $("#serial_port").val();

        for (var i = 0; i < toV.length; i ++ ){
          if (toV[i].indexOf('/') > -1) alert("inputs cannot contain / character")
          else if (toV[i].indexOf(' ') > -1) alert("inputs cannot contain spaces")
          else if (toV[i] == '') alert("all inputs must be filled out")
        }

        console.log(toV.cyc_file)
        console.log(toV)

        //if errors: alert errors. else: send the folder and file to server
        //if server responds that things are all good goStartTest()
        //else: alert that file already exsists, and ask if want to continue
        //make ajax request with folder and filename

        validated = true;
        if (validated){
          tosend = {"channel":channel,"filename_check":true, "folder_name":toV.cyc_folder, "file_name":toV.cyc_file};
          console.log('datasend is ' + tosend);
          $.ajax({
            type:'POST',
            url:'/senddata',
            async: true,
            data: tosend,  
            })
            .done(function( data ) {
                console.log('the response was '+data);
                if (data == "filename already used") {
                  alert('CAREFUL - There is already a file with this name. Continuing will overwrite the file')
                  document.getElementById("continue_anyway_button").style.display = "inline-block"
                }
                else{
                  document.getElementById("validate_form_button").style.display = "none";
                  document.getElementById("start_test_button").style.display = "inline-block";
                  document.getElementById("continue_anyway_button").style.display = "none"
                }
            })
            .fail(function( jqXHR, textStatus, errorThrown ) {
              console.log('something went wrong');
              console.log(jqXHR);
              console.log(textStatus);
              console.log(errorThrown);
            });
          return false;
        }
        else { alert("dan messed something up - please tell him to fix it") }
    }
    function goStartTest()
    {
      convertArrayToJSON(TableData);
      disableInputs();
      showButtons();
      testUnderway();
      first_plot = true; //flag so that correct thing is sent to pithy plotting
    }
    
    function disableInputs()
    {
      console.log('diable inputs called');
      var inputs = document.getElementsByTagName("INPUT");
      for (var i = 0; i < inputs.length; i++) 
      {
        inputs[i].disabled = true;
        //console.log(inputs[i]);
      }
    }

    function convertArrayToJSON(TableData)
    {
        console.log('convertArraytoJSON got called');
        called()
        //goPlotting();
        //TableData = $.toJSON(storeTblValues());
        TableData = storeTblValues();
        datatosend = JSON.stringify(storeTblValues());
        
        //datatosend = TableData;
        $('#tbTableValuesArray').val('TableData = \n' + print_r(TableData));
        console.log(datatosend);
        //console.log(JSON.stringify(TableData[1]["cyc_file_name"]));
        $.ajax({
          type:'POST',
          url:'/senddata',
          async: true,
          data: {cycle_array:datatosend, channel:channel},
          success: function(){
          console.log('successful sending of things :)');
          }
        });
        
    }
    
    //debugging thing to make sure cycle data goes through correctly
    function print_r(arr,level) {
    var dumped_text = "";
    if(!level) level = 0;

    //The padding given at the beginning of the line.
    var level_padding = "";
    for(var j=0;j<level+1;j++) level_padding += "    ";

    if(typeof(arr) == 'object') { //Array/Hashes/Objects 
        for(var item in arr) {
            var value = arr[item];

            if(typeof(value) == 'object') { //If it is an array,
                dumped_text += level_padding + "'" + item + "' \n";
                dumped_text += print_r(value,level+1);
            } else {
                dumped_text += level_padding + "'" + item + "' => \"" + value + "\"\n";
            }
        }
    } else { //Stings/Chars/Numbers etc.
        dumped_text = "===>"+arr+"<===("+typeof(arr)+")";
    }
    return dumped_text;
}


  function showButtons()
  {
    document.getElementById("goPlotting_button").style.display="inline-block";
    document.getElementById("kill_button").style.display="inline-block";
    document.getElementById("pause_button").style.display="inline-block";
    document.getElementById("step_skip_button").style.display="inline-block";
  }
  
  function hideButtons()
  {
    document.getElementById("goPlotting_button").style.display="none";
    document.getElementById("kill_button").style.display="none";
    document.getElementById("pause_button").style.display="none";
    document.getElementById("step_skip_button").style.display="none";
    document.getElementById("resume_button").style.display="none";
  }
  
  function showReturnButton()
  {
    document.getElementById("returnButton").style.display="inline-block";
  }
  
  
  //pause the test, show resume button
  function goPause() 
  {
    document.getElementById("goPlotting_button").style.display="none";
    document.getElementById("resume_button").style.display="inline-block";
    document.getElementById("kill_button").style.display="inline-block";
    document.getElementById("pause_button").style.display="none";
    
    
    document.getElementById("kill_button_plot").style.display="inline-block";
    document.getElementById("pause_button_plot").style.display="none";
    document.getElementById("resume_button_plot").style.display="inline-block";
    console.log('goPause called')
    $.ajax({
      type:'GET',
      url:'/pauser/'+channel,
      dataType: 'json',
      async: true,
      success: function(){
        console.log('ajax says killer called');
      }
    });
  }
  
  //resume the test
  //hide resume button, show pause button
  function goResume()
  {
    document.getElementById("pause_button").style.display="inline-block";
    document.getElementById("resume_button").style.display="none";
    document.getElementById("goPlotting_button").style.display="inline-block";
    
    document.getElementById("pause_button_plot").style.display="inline-block";
    document.getElementById("resume_button_plot").style.display="none";
    console.log('goResume called')
    $.ajax({
      type:'GET',
      url:'/reviver/'+channel,
      dataType: 'json',
      async: true,
      success: function(){
        console.log('ajax says killer called');
      }
    });
  }
  
  //kill the test, take back to setup (page with CV, Cycle etc.)
  function goKill()
  {
  enableInputs()
  hideButtons()
  showReturnButton()
  testOver()
    console.log('goKill called')
    $.ajax({
      type:'GET',
      url:'/killing/'+channel,
      dataType: 'json',
      async: true,
      success: function(){
        console.log('ajax says killer called');
      }
    });
  }
  
  function goStepSkip()
  {
    console.log('goStepSkip called');
    $.ajax({
      type:'GET',
      url:'/step_skip/'+channel,
      dataType: 'json',
      async: true,
      success: function(){
        console.log('ajax says step_skip called');
      }
    });
  }
  

  </script>
  <script>
  //test thing
  function called(){
    console.log("called");
    }
  
  //call the live plotter
  function goPlotting(){
    event.preventDefault();
    console.log("goPlotting got called");
    
    var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');
    
    var actived_nav = $('.nav-tabs > li.active');
    actived_nav.removeClass('active');
    
    //manually switch to plotting tab
    //addClass('active');
    $("a[href$='tabs-2']").parents('li').addClass('active');
    
    //hide current tab
    $(active_tab_selector).removeClass('active');
    $(active_tab_selector).addClass('hide');
    console.log("active_tab");
    console.log($(active_tab_selector));
    
    //display plotting tab
    var target_tab_selector = $('#tabs-2');
    console.log("target tab selector");
    console.log($(target_tab_selector));
    $(target_tab_selector).removeClass('hide');
    $(target_tab_selector).addClass('active');
    
    
  cycle_get_image();
  }
  
  function chooseP(ptype,callback) 
  { plot = ptype; 
    selected = true;
    if(plot == 1) { cycle_x = 'v'; cycle_y = 'c' }
    if(plot == 2) { cycle_x = 't'; cycle_y = 'c'  }
    if(plot == 3) { cycle_x = 't'; cycle_y = 'v'  }
    callback()
  }
  
  // global varibles for plotting
  var cycle_x = ''
  var cycle_y = ''
  
  //live plotting stuff
  //called by goPlotting()
  var ardu_folder;
  var ardu_file;
  function cycle_get_image()
  {
      //TODO: add in a cycmin and cycmax thing
      if (cycle_x = '') cycle_x = 't'
      if (cycle_y = '') cycle_y = 'v'
      var mintemp = 0;
      var maxtemp = -1;
      if (test_was_in_progress == false) {
        ardu_folder = JSON.stringify(TableData[1]["cyc_folder"]).slice(1,-1);
        ardu_file = JSON.stringify(TableData[1]["cyc_file_name"]).slice(1,-1);
      }
      else if (test_was_in_progress == true){
        console.log('ardu_folder = ',ardu_folder)
        console.log('ardu_file = ', ardu_file)
      }
      if(mintemp != "") { cycle_min = mintemp; }
      else { cycle_min = 0 }
      if(maxtemp != "") { cycle_max = maxtemp; }
      else { cycle_max = -1 }

      //countto 
      countto = 1
      //is it the first or last plot?  
      if (first_plot) {
        what_plot = 'start'
        console.log('first plot called')
      }
      else if (last_plot){
        what_plot = 'end'
        console.log('last plot called')
      } 
      else what_plot = ''
      this_host = document.URL.toString().split('/')[2]
      colon_index = this_host.indexOf(':')
      this_host = this_host.substring(0,colon_index)
      console.log(this_host)
      url = "http://"+this_host+":4004/filetest_showme_basic_averaging/" //TODO: make this more general
      + ardu_folder+"/"
      + ardu_file+"/"
      + cycle_min+"/"
      + cycle_max+"/"
      + "t"+"/"
      + "v"+"/"
      + cyc_ardustat_id + "/"
      + countto + "/"
      + what_plot +'/';
      console.log(url)
      //add functionality so that can look at different plots
      var foo = "test";
      $.ajax({
      url: url,
      success: function(result){
          
          image = result
          //debug
          //console.log('result from ploop');
          console.log(result);
          imageUrl = "http://"+this_host+":4001/"+image
          //document.write(imageUrl);
          first_plot = false
          changeImage("fooplotter",imageUrl)
          if (!last_plot) cycle_get_image()
          
          //last_plot = false
      },
      async:   true,
      })
  }
  
  function changeImage(id,source)
  {
  document.getElementById(id).src=source;
  }
  
  console.log("this is the navtab");
  console.log("this is working now");

  $("#returnButton").click(function(){
    console.log("returnButton clicked");
    if (channel == 'ch1') location.href='/Channel1'
    else if (channel == 'ch2') location.href = '/Channel2'
    else if (channel == 'ch3') location.href = '/Channel3'
    else alert('channel not set correctly - tell Dan please')
  });

  //tab stuff
  $(document).ready(function() {
      $('.nav-tabs > li > a').click(function(event){
      event.preventDefault();//stop browser to take action for clicked anchor'
      console.log("you got clicked");

      //get displaying tab content jQuery selector
      var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');          

      //find actived navigation and remove 'active' css
      var actived_nav = $('.nav-tabs > li.active');
      actived_nav.removeClass('active');

      //add 'active' css into clicked navigation
      $(this).parents('li').addClass('active');
      console.log("parents");
      console.log($(this).parents('li'));

      //hide displaying tab content
      $(active_tab_selector).removeClass('active');
      $(active_tab_selector).addClass('hide');
      //console.log("active tab selector");
      //console.log($(active_tab_selector));

      //show target tab content
      var target_tab_selector = $(this).attr('href');
      //var target_tab_selector = $('.nav-tabs > #tabs-2').attr('href');
      //console.log("target tab selector");
      //console.log($(target_tab_selector));
      $(target_tab_selector).removeClass('hide');
      $(target_tab_selector).addClass('active');
       });
  });
  </script>
</body>
