<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name ="viewport" content="width=device-width">
    <title>Channel 1</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <div class="row marketing">
    
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Ardustat</a>
          </div>
          <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li id='navbar-home'><a href="/">Home</a></li>
                <li id='navbar-channel1'><a href="/Channel1">Channel 1</a></li>
                <li id='navbar-channel2'><a href="/Channel2">Channel 2</a></li>
                <li id='navbar-analysis'><a href="/Analysis">Analysis</a></li>
            </ul>
          </nav>
        </div>
        <script type="text/javascript" >
            document.getElementById('navbar-channel1').setAttribute('class', 'active')
          </script>
      </div>
      
      <div id="ardustat_input_div">
        <form id="ardustat_input">
            <input type='hidden' name='electro_function' value='calibration'> </input>
            Ardustat Id: <input type='text' name='ardustat_id' value='25' class="form-inline"> (Number on Ardustat) </input>
            <button id="ardustat_id_submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  
      <div id="yes_res_table" style="display:none">
        <p> There is a resistance table. Proceed to do some testing </p>
        <div class="col-lg-12">
          <h1>Channel 1</h1>
          <ul class="nav nav-pills">
            <li><a href="/Channel1/CV">Cyclic Voltammetry</a></li>
            <li><a href="/Channel1/Cycler">Cell Cycling</a></li>
            <li><a href="/Channel1/Calibration">Calibration</a></li>
          </ul>
        </div>
      </div>
 
      <div id="no_res_table" style="display:none">
        <p> This Ardustat has not been calibrated. Please <a href="/Channel1/Calibration">calibrate</a> to continue </p>
      </div>
      
    </div>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" ></script>
	<script src="/javascripts/flot/jquery.flot.js"></script>
	<script src="/javascripts/flot/jquery.flot.time.js"></script>
	<script src="/javascripts/jquery-json/src/jquery.json.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/scripts/socket_1.js"></script>
  <script src="/scripts/channel1.js"></script>
  <script>
  /* TODO:
  When user opens this page - selects what ardustat id wants to use: Save this in a cookie. (When have 3 channels gonna have to have this already set up)
  If there is no calibration table - tell user to go to calibration portion.
  Have calibration portion avaibable next to the cycling and cv portion.
  */
  $( document ).ready(function() {
    $.ajax({
    type:'GET',
    url:'/getstatus',
    async: true,
    data: 'channel1',
    success: function(status){
      console.log('status of server requested');
      if (status == 'cv'){
        //send to cv page
      }
      if (status == 'cycler'){
        //send to cycler page
      }
      else {
          console.log('nothing happening - start from beginning');
      }     
    }
  });
});
  
  //Alternatively - could have the node program scan for what ardustat's are on what tty - and send this info over to the user, so they know what channel is which.
  
  </script>
</body>

