extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/cv') Cyclic Voltammetry
  p 
  a(href='/debug') Debug Page
  p
  a(href='/cycler') Cycler
  
  script(src='/javascripts/flot/jquery.js')
  script(src='/socket.io/socket.io.js')
