	body
	{
		font-family: Helvetica;
		overflow-x:hidden;
		
	}
	.output
	{
		width:800px;
		margin: auto auto;
		border: black 1px;
	}
	
	.title
	{
		padding:10px;
		width:800px;
		margin: auto auto;
		text-align: center;
	}
	.plots
	{
		margin: 10px 30px 10px 30px;
	}
	.plot
	{
		width:auto;
		height:300px; 
		margin: auto auto;
		padding: 100px 100px;
	}